{% extends 'accounts/base.html' %}
<html lang="en">
<head>
       <title>Products</title>
</head>
<body>
{% block content %}
<style>
    body{

        background-color: lightblue;
    }
</style>

<div class="container-fluid">
        {% if request.user.is_staff %}
       <br> <a class="btn btn-primary" href="{% url 'add_product' %}">Add Product</a>
        {% endif %}
    <div class="row">
        <div class="offset-md-2 col-md-8">
            <div class="card">
                <div class="card-header bg-success text-white text-center">
                    <h1 class="card-title">Products Details</h1>
                </div>
                <div class="card-body bg-dark">
                    <table class="table table-bordered text-white text-center">
                        <thead class="bg-primary">
                            <tr>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Category</th>
                                <th>Description</th>
                                <th>Created_date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                                <tr>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.price }}</td>
                                    <td>{{ product.category }}</td>
                                    <td>{{ product.description }}</td>
                                    <td>{{ product.created_date }}</td>
                                    <td>
                                        {% if request.user.is_staff %}
                                        <a class="btn btn-primary" href="{% url 'update_product' product.id %}">Update</a>
                                        <a class="btn btn-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                                        {% else %}
                                        <a class="btn btn-primary" href="{% url 'place_order'%}">Order</a>
                                        {% endif %}
                                        
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
</body>
</html>